body{
    background-image: url(Imagens/fundo/planodefundo.jpg);
    background-repeat: repeat-y;
    background-size: 50rem;
    background-position: center;
}
h1{
    font-family:'Varela Round', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 10rem;
}
h2{
    font-family: Poppins, sans-serif;
    font-size: 2em;
}
p{
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
}
.espacamento_palavras{
    word-spacing: 20px;
}

.im{
    display: block;
    margin: -0.5rem auto;
    width: 24rem;
    height: auto;
    border-radius: 15px;
}


.texto_centralizado{
    text-align: center;
}

/* ====== HERO SECTION ====== */
.hero {
  background: url('fundo.jpg') center center/cover no-repeat;
  height: -2vh; /* altura total da tela */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caixa branca translúcida */
.overlay-box {
  background: rgba(240, 240, 240, 0.658); /* cor + transparência */
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.overlay-box p {
  color: #555;
  line-height: 1.6;
}

/* Ajuste de layout do restante da página */
section {
  padding: 10px 5px;
}


.fa-instagram {
  color: #E4405F; /* cor oficial do Instagram */
  font-size: 24px;
  margin-right: 5px;
}

.fa-whatsapp{
  color: #25d366;
  font-size: 24px;
  margin-right: 5px;
}